@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
    font-family: "Poppins", sans-serif;
}
.emoji-select .MuiOutlinedInput-notchedOutline {
    border: none;
}

.emoji-select .MuiSelect-icon {
    display: none;
}

.MuiSelect-select span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.emoji {
    font-size: 1.25rem;
    line-height: 1;
    margin-right: 3rem;
}
